/logs
/target/global-logging
/target/scala-2.12
/target/streams
/target/task-temp-directory
/target/universal/scripts
/target/web
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/database
/RUNNING_PID
/dist
.idea
*.iml
out
.idea_modules
.classpath
.project
.settings
.metals
.vscode