@(user: Option[models.User], candidates : List[String])(implicit request: RequestHeader, messages: Messages)



@election.vote(user) {

<form name="ballot" id="ballot-form">
    <input name="email" value="" type="hidden">
    <input name="code" value="" type="hidden">

    <div class="container">
        <div id="ballot-0">
            <div class="container">
                <div class="col-md-3"></div>
                <div class="col-md-6 ui-widget ui-helper-clearfix" id="candidateDiv">
                  <div class="centered col-md-6">
                  <p>Candidate List:</p>

                    <ul id="candidateList" class="candidateList ui-helper-reset ui-helper-clearfix">
                        @for(candidate <- candidates){
                        <li class="r0_0 ui-widget-content ui-corner-tr ">  <p>@candidate</p></li>
                      }
                    </ul>
                  </div>
                  <div class="col-md-6 centered">
                        <p>Your ballot:</p>
                        <ul id="ballot" class="ui-widget-content ui-state-default centered">
                            <h4 class="ui-widget-header">Ballot</h4>
                        </ul>
                      </div>

                    </div>

                <script type='text/javascript' src='@routes.Assets.at("/javascripts/dragDrop.js")'> </script>
            </div>
            <input id="order-0" class="order" name="order-0" type="hidden">
        </div>


        <div class="container text-center">
            <p>
                <b>Instructions</b>:
                Double check your ballot. Then click the "Vote!" button to cast your vote.
            </p>
            <div class="text-center bottomm10">
                <button class="btn btn-lg btn-success" id="enter-vote-btn" type="submit" name="submit" value="Vote!">
                    <span class="glyphicon glyphicon-ok"></span>
                    Vote!</button>
            </div>
        </div>
    </div>
</form>
}
