@(user: Option[models.User], candidates : Option[List[String]] , id : Option[String] , name : Option[String] , description: Option[String] )(implicit request: RequestHeader, messages: Messages)

@import helper._
@import b3.vertical.fieldConstructor  // Declares a vertical field constructor as default

@election.vote(user , id  , name ,description) {
  <div class="container">
    <div id="ballot-0" class="container">
      <div class="container">
        <div class="col-md-4 col-md-offset-3" id="candidateDiv">
          <ul id="ballot">
            <p>candidate List:</p>
              @for(candidate <- candidates.get){
                <li class="r0_0"><button id='AAA_@candidate' value='@candidate' type="button" class="btn btn-default btn-sm add vote">
                  Add</button><span>@candidate</span>
                </li>
              }
          </ul>
        </div>
        <div class="col-md-3 col-md-pull-1 well centered">
          <p>Your ballot:</p>
          <ul class ="ballotDiv" id="sortable"></ul>
        </div>
        <script type='text/javascript' src='@routes.Assets.at("/javascripts/preferential.js")'> </script>
      </div>
    </div>
  </div>
}
