@(user: Option[models.User] , elections : List[models.Election])(implicit request: RequestHeader, messages: Messages)

@import java.text.ParseException;
@import java.text.SimpleDateFormat; var dt1 = new SimpleDateFormat("yyyy-MM-dd");
@import java.util.Date;
@import java.time.LocalDate;
@import java.time.format.DateTimeFormatter; var formatter = DateTimeFormatter.ofPattern("yyyy-MM-dd");

@import java.math.BigInteger; var i = 0;

@main(Messages("home.title"), user) {
	@for(election <- elections) {
	<div class="container-fluid primary-content">
	<div class="primary-content-heading clearfix">
		<h2>@election.name</h2>
        <hr style="border:1px solid #fff">
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="project-section well general-info">
				<h3>Description</h3>
				<a href=# class="btn btn-sm btn-default pull-right" >Edit Election</a>
				<a href=/user/vote/@election.id class="btn btn-sm btn-default pull-right" >Vote</a>
				<p>@election.description</p>
				<div class="row">
					<div class="col-md-4">
						<dl class="dl-horizontal">
							<dt>Date:</dt>
							<dd>@dt1.format(election.start) - @dt1.format(election.end)</dd>
							<dd></dd>
							<dt>Duration:</dt>
							<dd>@{LocalDate.parse(dt1.format(election.end), formatter).toEpochDay() - LocalDate.parse(dt1.format(election.start), formatter).toEpochDay()}<span class="text-muted"><small>(@{LocalDate.parse(dt1.format(election.end), formatter).toEpochDay()- LocalDate.parse(dt1.format(new Date()), formatter).toEpochDay()} days remaining))</small></span></dd>
							<dt>Created By:</dt>
							<dd>@election.creatorName</dd>
							<dt>Status:</dt>
							<dd><span class="label label-warning">INACTIVE</span></dd>
							<dt>Candidates:</dt>
							<dd>
								<ul class="list-inline">
									@for(candidate <- election.candidates){
									<li class="list-group-item-info">
										<strong>@candidate</strong>
									</li>
								}
								</ul>
							</dd>
						</dl>
					</div>
				</div>
			</div>
				<button type="button" class="btn btn-default center-block"><i class="fa fa-ios-refresh"></i> Load more</button>
			</div>
		</div>

	</div>

	}

}
