@(user: models.User , list: List[com.mongodb.casbah.Imports.DBObject])(implicit request: RequestHeader, messages: Messages)


@import java.math.BigInteger; var i = 0;

@main(Messages("home.title"), Some(user)) {


	<h3>Iterate over the list</h3>
	@for(doc <- list) {
		<p>
			Result No. @{i += 1; i}:<br>
			As JSON string: @doc
		</p>
		<div class="well">
			<dl>
				<dt>_id</dt>
				<dd>@doc.get("_id")</dd>
			</dl>
		</div>
		<a href=/user/vote/@doc.get("_id") class="btn btn-default" >Vote</a>
	}

}
