@(user: Option[models.User])(implicit request: RequestHeader, messages: Messages)

@main(Messages("home.title"), user) {
    <div id="headerwrap">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-12">
                    <img src='@routes.Assets.at("/images/agora-300.png")' alt="">
                    <h1><b>agora</b></h1>
                    <h3>online elections</h3>
                    <br>
                </div>
            </div>
        </div> <!--/ .container -->
    </div>
        <!--/ #headerwrap -->


    <div id="c">
        <div class="container">
            <p>Copyright © <a href="http://aossie.org/">AOSSIE</a> 2017</p>

        </div>
    </div>
    </body>
    </html>
}
