@(user: Option[models.User])(implicit request: RequestHeader, messages: Messages, webJarAssets: WebJarAssets)

@main(Messages("home.title"), user) {
    <br>
    <br>
    <div class="container">
        <div class="container text-center">
            <div class="col-md-4"></div>
            <div class="well container col-md-4">
                <h1 class="text-center">Login</h1>
                <p class="text-center">Chose the account you wish to login with.</p>
                <p>
                    <a class="btn btn-google-plus-style btn-lg btn-block" href="#">
                        <i class="fa fa-google-plus-square"></i>  <span>Login with <strong>Google+</strong></span>
                    </a>
                </p>
                <p>
                    <a class="btn btn-twitter-style btn-lg btn-block" href="#">
                        <i class="fa fa-twitter-square"></i>  <span>Login with <strong>Twitter</strong></span>
                    </a>
                </p>
                <p>
                    <a class="btn btn-facebook-style btn-lg btn-block" href="#">
                        <i class="fa fa-facebook-square" href="/authenticate/facebook"></i>  <span>Login with <strong>
                        Facebook</strong></span>
                    </a>
                </p>
                <p>
                    <a class="btn btn-github-style btn-lg btn-block" href="#">
                        <i class="fa fa-github-square" href=""></i>  <span>Login with <strong>Github</strong></span>
                    </a>
                </p>
            </div>
        </div>
    </div>
}
