@*
* This template is called from the `index` template. This template
* handles the rendering of the page header and body tags. It takes
* two arguments, a `String` for the title of the page and an `Html`
* object to insert into the body of the page.
*@
@(title: String, user: Option[models.User] = None)(content: Html)(implicit request: RequestHeader, messages: Messages)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
        <meta charset="utf-8">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src='@routes.Assets.at("lib/jquery/jquery.min.js")'></script>
        <script src='@routes.Assets.at("lib/jquery-ui/jquery-ui.min.js")'></script>
        <link rel="stylesheet" href='@routes.Assets.at("lib/jquery-ui/jquery-ui.css")'>
        <link rel="stylesheet" href='@routes.Assets.at("lib/bootstrap/css/bootstrap.css")'>
        <script type='text/javascript' src='@routes.Assets.at("lib/bootstrap/js/bootstrap.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("/javascripts/main.js")'></script>
        <link id="bsdp-css" href='@routes.Assets.at("lib/bootstrap-datepicker/css/bootstrap-datepicker3.min.css")' rel="stylesheet">

        <script src='@routes.Assets.at("lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js")'></script>
        <link href='@routes.Assets.at("lib/font-awesome/css/font-awesome.css")' rel="stylesheet">
        <link href='@routes.Assets.at("/css/main.css")' rel="stylesheet">
        <link rel="stylesheet" href='@routes.Assets.at("lib/bootstrap-tagsinput/bootstrap-tagsinput.css")'>
        <script src='@routes.Assets.at("lib/bootstrap-tagsinput/bootstrap-tagsinput.min.js")'></script>


    </head>


    <body>
      @if(title!="Vote" && title!="Ballot" ){
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                 <span class="sr-only">Toggle navigation</span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img height="25" src='@routes.Assets.at("/images/agora-300.png")' alt=""></a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            
            @user.map { u =>

        @if(u != null) {

            <ul class="nav navbar-nav">
                <li><a href="/user/createElection">Create Election</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                              @if(u.fullName!=None){
                                    <span class="user-avatar pull-left" style="margin-right:8px; margin-top:-5px;">
                                        <img src="@u.avatarURL" class="img-responsive img-circle" title=@u.fullName width="30px" height="30px">
                                    </span>
                                    <span class="user-name">
                                        @u.fullName
                                    </span>
                                  }else{
                                    <span class="user-name">
                                        User
                                    </span>
                                  }
                                    <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                            <div class="navbar-content">
                                                         <li><a href="/profile" class="btn btn-default btn-block"> My Elections</a></li>
                                                         <li><a href="@routes.HomeController.signOut" class="btn btn-default btn-block">Sign Out</a></li>
                                            </div>
                                    </ul>
                                </li>




            </ul>
    } else{
        <ul class="nav navbar-nav navbar-right">
            <li><a href="@routes.SignInController.view">@Messages("sign.in")</a></li>
        </ul>
    }

    }.getOrElse {
        <ul class="nav navbar-nav navbar-right">
            <li><a href="@routes.SignInController.view">@Messages("sign.in")</a></li>
        </ul>
    }

    </div>
    </div>
    </nav>
  }
        <main class="container">
            <div class="starter-template row">
                @request.flash.get("error").map { msg =>
                    <div class="col-md-6 col-md-offset-3 alert alert-danger">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        <strong>@Messages("error")</strong> @msg
                    </div>
                }
                @request.flash.get("info").map { msg =>
                    <div class="col-md-6 col-md-offset-3 alert alert-info">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        <strong>@Messages("info")</strong> @msg
                    </div>
                }
                @request.flash.get("success").map { msg =>
                    <div class="col-md-6 col-md-offset-3 alert alert-success">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        <strong>@Messages("success")</strong> @msg
                    </div>
                }
            </div>
            @content
        </main>



    </body>
</html>
