@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>Agora Front End</title>
        <meta charset="utf-8">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src='@routes.Assets.at("/javascripts/jquery-3.2.0.min.js")'></script>
        <link rel="stylesheet" href='@routes.Assets.at("/css/bootstrap.css")'>
        <script type='text/javascript' src='@routes.Assets.at("/javascripts/bootstrap.js")'></script>
        <link rel="stylesheet" href='@routes.Assets.at("/css/datepicker.min.css")' />
        <link rel="stylesheet" href='@routes.Assets.at("/css/datepicker3.min.css")' />
        <script type='text/javascript' src='@routes.Assets.at("/javascripts/bootstrap-datepicker.min.js")'></script>
        <link href='@routes.Assets.at("/css/fontawesome.css")' rel="stylesheet">
        <link href='@routes.Assets.at("/css/main.css")' rel="stylesheet">
    </head>
    <body>
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                 <span class="sr-only">Toggle navigation</span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Agora</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="/vote">Vote</a></li>
            </ul>
            <ul class="nav navbar-nav">
              <li><a href="/addelection">Add Election</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/login">login</a></li>
            </ul>
          </div>
        </div>
      </nav>
      @content
    </body>
</html>
