@(user: Option[models.User] , list: List[models.Election], votedList: List[models.Election] )(implicit request: RequestHeader, messages: Messages)

@import java.math.BigInteger; var i = 0;

@main(Messages("home.title"), user) {
<div class="mainbody container-fluid">
  <div class="row">
    <div style="padding-top:50px;"> </div>
      <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="media">
              <div align="center">
                <img class="thumbnail img-responsive" src="@user.get.avatarURL" width="300px" height="300px">
              </div>
              <h3>@user.get.fullName</h3>
              <div class="media-body">
                <hr>
                <!--
                <h3><strong>Bio</strong></h3>
                <p>Bio about the user</p>
                <hr>
                <h3><strong>Location</strong></h3>
                <p>Earth</p>
                <hr>
                -->
                <h4><strong>Email</strong></h4>
                <p>@user.get.email</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <div class="panel panel-default">
          <div class="container"><h2>My Elections</h2></div>
          <div class="panel-body">
            <div class="tab-content">
              <div class="tab-pane active" id="home">
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Election</th>
                        <th>Status </th>
                        <th>Voting Algorithm</th>
                        <th>End Date</th>
                      </tr>
                    </thead>
                    <tbody id="items">
                      @for((election, index) <- list.zipWithIndex) {
                        <tr>
                          <td>@{index+1}</td>
                          <td><a href=/user/election/@election.id>@election.name</a></td>
                          <td>@election.status()</td>
                          <td>@election.votingAlgo</td>
                          <td>@election.end</td>
                        </tr>
                      }
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="container"><h2>My Votes in Elections</h2></div>
            <div class="panel-body">
              <div class="tab-content">
                <div class="tab-pane active" id="home">
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Election</th>
                          <th>Status</th>
                          <th>Voting Algorithm</th>
                          <th>End Date</th>
                        </tr>
                      </thead>
                      <tbody id="items">
                      @for((election, index) <- votedList.zipWithIndex) {
                        <tr>
                          <td>@{index+1}</td>
                          <td><a href=/user/election/@election.id>@election.name</a></td>
                          <td>@election.status()</td>
                          <td>@election.votingAlgo</td>
                          <td>@election.end</td>
                        </tr>
                      }
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
}
