@main("Cast your vote") {
  <div class="container">
    <div class="container text-center">
    <h1>Election Title</h1>
    <div><p>This is the description.</p></div>
    </div>
    <form name="ballot" id="ballot-form">
    <input name="email" value="" type="hidden">
    <input name="code" value="" type="hidden">
    <input name="kiosk" value="" type="hidden">

    <div class="container">
      <div class="container text-center">
    <h2>Contest Title</h2>

    <div></div>

  </div>
    <div id="ballot-0" class="container">
      <div class="container">

    <div class="col-md-4 col-md-offset-3 ">
      <p>Choice list:</p>
    <ul>
    <li class="r0_0"><button id='1' type="button" class="btn btn-default btn-sm add">Add</button><span>Candidate 1</span></li>
    <li class="r0_1"><button id='2' type="button" class="btn btn-default btn-sm add">Add</button><span>Candidate 2</span></li>
    <li class="r0_2"><button id='3' type="button" class="btn btn-default btn-sm add">Add</button><span>Candidate 3</span></li>
    </ul>


    </div>
    <div class="col-md-3 col-md-pull-1 well" id ='mydiv'>
    <p>Your ballot:</p>
    <ol class="ui-sortable"></ol>
    </div>
    <script type='text/javascript' src='@routes.Assets.at("/javascripts/vote.js")'> </script>
    </div>
    <input id="order-0" class="order" name="order-0" type="hidden">
    </div>


    <div class="container text-center">
    <p>
    <b>Instructions</b>:
    Double check your ballot. Then click the "Vote!" button to cast your vote.
    </p>
    <div class="text-center bottomm10">
    <button class="btn btn-lg btn-success" id="enter-vote-btn" type="submit" name="submit" value="Vote!">
    <span class="glyphicon glyphicon-ok"></span>
    Vote!</button>
    </div>
    </div>
  </div>
    </form>
    </div>

}
